# Unity
[Dd]ebug/
[Dd]ebug[Pp]ublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa]rm/
[Aa]rm64/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userosscache
*.userprefs

# JetBrains Rider
.idea/
*.sln.iml
